#General 
/.vscode
/botenv
__pycache__

#activate botenv in windows  source botenv/Scripts/activate

#Data collection txt file
*.txt
*.xml
*.log


#Password File
password*

#Exceptions
!requirements.txt
storage/subIDList
dead.py.die
